<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.9.0.1403091355-beta" targetFramework="net45" />
  <package id="Catel.Extensions.Controls" version="3.9.0.1403091355-beta" targetFramework="net45" />
  <package id="Catel.Fody" version="1.7.0" targetFramework="net45" />
  <package id="Catel.MVVM" version="3.9.0.1403091355-beta" targetFramework="net45" />
  <package id="Fody" version="1.22.1" targetFramework="net45" developmentDependency="true" />
</packages>